.layout-main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--top-menu-height));
  justify-content: space-between;
  padding: 2rem 2.5rem 0rem 2.5rem;
  overflow-y: #000;
  // background-color: var(--surface-ground) !important;
}

.layout-main {
  flex: 1 1 auto;
  padding-bottom: 2rem;
  overflow-x: auto;
}
