.layout-main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--top-menu-height));
  justify-content: space-between;
  padding: 3rem 5rem 0rem 5rem;
  overflow-y: auto;
}

.layout-main {
  flex: 1 1 auto;
  padding-bottom: 2rem;
}
